<!DOCTYPE html>
<html lang="en" ng-app="phonecatApp">
<head>
	<meta charset="UTF-8">
	<title>angularApp</title>
	<link rel="stylesheet" href="css/app.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
	<script src="js/controllers.js"></script>
</head>
<body class="container" >
	
	<h2 ng-controller="Uname">Hello, {{uname}}</h2>
	
	<ul ng-controller="PhoneListCtrl">
		<li ng-repeat="phone in phones | filter:query | orderBy:orderProp">
			<span>{{phone.name}}</span>
			<p>{{phone.snippet}}</p>
		</li>
		<p>Total number of phones: {{phones.length}}</p>
		<br>
		<br>
		search: <input ng-model="query">
		
		Sort By: 
		<select ng-model="orderProp">
			<option value="name">Alphabetical</option>
			<option value="new">Newest</option>	
		</select>
	</ul>
</body>
</html>